
/* 본문제목 */
h3, .h3{width:auto; height:auto; margin:30px 0 20px; padding:0 0 0 28px; background:url(../images/template/h3bg.png) no-repeat left 5px; line-height:1.4em; color:#000; font-size:25px; font-weight:600;}
h4, .h4{width:auto; height:auto; margin:30px 0 20px 20px; padding:0 0 0 11px; background:url(../images/template/h4bg.gif) no-repeat left 7px; line-height:1.4em; color:#005baa; font-size:23px; font-weight:600;}
h5, .h5{width:auto; height:auto; margin:9px 0 8px 30px; padding:0 0 0 18px; background:url(../images/template/h5bg.gif) no-repeat left 6px; line-height:1.4em; color:#000; font-size:18px; font-weight:200;}
h6, .h6{width:auto; height:auto; margin:9px 0 10px 36px; padding:0 0 0 15px; background:url(../images/template/h6bg.png) no-repeat left 5px; line-height:1.4em; color:#005aab; font-size:16px; font-weight:200;}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {color:#555555; font-weight:normal;}
.h0{clear:left; margin:0; padding:0; background:none; font-weight:normal; font-size:1em;  letter-spacing:0;}
h3 a span{color:#000;}
h4 a span{color:#005baa;}
h5 a span{color:#000;}
h6 a span{color:#005aab;}
h3.nobg, h4.nobg, h5.nobg, h6.nobg{background:none;}

.skip h3, .skip h4, .skip h5, .skip h6{position:absolute; margin:0; padding:0; width:0; height:0; background-image:none; color:transparent;}
.skip a{color:transparent;}

/* Tag목록(List) */
.bu {margin:10px 0 20px 34px; padding:0; list-style:none; text-align:left;}
td .bu {padding:0; margin:0;} /* 테이블 안에서 정렬 */
.bu li {margin-top:4px; padding:0 0 0 10px; list-style:none; background:url(../images/template/bu_li.gif) no-repeat 0 9px; color:#555555; font-size:15px;}
.bu li:first-child{margin-top:0;}
.bu li.nobg {padding:0; list-style:none; background:url() no-repeat;}
.bu ul li {padding:0 0 0 0.85em; background:url(../images/template/bu_li2.gif) no-repeat 0 9px;}
.bu ul ul li {background:url(../images/template/bu_li3.png) no-repeat 0 6px;}
.bu ul ul ul li{background-position:left 5px;}
.bu ul,.bu ul ul,.bu ul ul ul{margin:5px 0 0;}

.bu.no_indent{margin:10px 0 20px;}

/* 순서리스트 */
.num li{position:relative; line-height:1.6em; margin-bottom:3px; padding-left:30px; text-align:left;}
.num li span.icon{position:absolute; left:0; top:0; display:block; width:23px; height:23px; background:url(../images/template/num_bg.png) no-repeat; line-height:21px; text-align:center; color:#FFF; font-family:"Malgun Gothic"; font-size:15px;}
.num .bu{margin-left:0;}
.num .bu li {padding:0 0 0 10px; list-style:none; font-size:15px;}
.bu li .num li{padding-left:30px;}

/* 블릿 */
p.blt {margin-bottom:5px; padding:0 0 0 10px; list-style:none; background:url(../images/template/bu_li.gif) no-repeat 0 9px; color:#555555; font-size:15px;} 
td p.blt{text-align:left;}

/* 개별조합속성클래스 */
.indent {margin:0 0 0 25px;}
.indent2 {margin:0 0 0 50px;}
.margin_0 {margin:0 !important;}
.margin_t_0 {margin-top:0px !important;}
.margin_t_5 {margin-top:5px !important;}
.margin_t_10 {margin-top:10px !important;}
.margin_t_15 {margin-top:15px !important;}
.margin_t_20 {margin-top:20px !important;}
.margin_t_25 {margin-top:25px !important;}
.margin_t_30 {margin-top:30px !important;}
.margin_t_40 {margin-top:40px !important;}
.margin_t_50 {margin-top:50px !important;}
.margin_b_5 {margin-bottom:5px !important;}
.margin_b_10 {margin-bottom:10px !important;}
.margin_b_15 {margin-bottom:15px !important;}
.margin_b_20 {margin-bottom:20px !important;}
.margin_b_25 {margin-bottom:25px !important;}
.margin_b_30 {margin-bottom:30px !important;}
.margin_b_40 {margin-bottom:40px !important;}
.margin_b_50 {margin-bottom:50px !important;}
.margin_b_70 {margin-bottom:70px !important;}
.margin_r_10 {margin-right:10px !important;}
.margin_r_20 {margin-right:20px !important;}
.margin_r_30 {margin-right:30px !important;}
.margin_r_40 {margin-right:30px !important;}
.margin_r_50 {margin-right:30px !important;}
.margin_l_5 {margin-left:5px !important;}
.margin_l_10 {margin-left:10px !important;}
.margin_l_15 {margin-left:15px !important;}
.margin_l_17 {margin-left:17px !important;}
.margin_l_20 {margin-left:20px !important;}
.margin_l_25 {margin-left:25px !important;}
.margin_l_30 {margin-left:30px !important;}
.margin_l_35 {margin-left:35px !important;}
.margin_l_40 {margin-left:40px !important;}
.margin_l_50 {margin-left:50px !important;}
.margin_l_70 {margin-left:70px !important;}
.margin_l_75 {margin-left:75px !important;}
.margin_l_90 {margin-left:90px !important;}
.margin_l_100 {margin-left:100px !important;}
.margin_l_120 {margin-left:120px !important;}
.margin_l_220 {margin-left:220px !important;}
.margin_l_225 {margin-left:225px !important;}
.margin_l_230 {margin-left:230px !important;}



/* 강조 글자 */
.em_bold {color:#000; font-size:17px; font-weight:300; margin: 0 5px;}
.em_blue {color:#0861bc;}
.em_navyblue {color:#446ecd;}
.em_orange {color:#e77a18;}
.em_red {color:#ff2a00;}
.em_green {color:#199416;}
.em_brown {color:#b78b32;}
.em_purple {color:#8a56af;}
.em_pastelgreen {color:#70aa78;}
.em_skyblue {color:#039db2;}
.em_white {color:#fff;}
.em_emerald {color:#1fa2ae;}
.em_emeraldblue {color:#2681a5;}
.em_blue_1 {color:#1c7cd5;}
.em_mint {color:#CCFAFF;}
.em_yellow{color:#eb9b0e;}
.em_grey {color:#9E9E9E;}

.em_b_blue {color:#0861bc; font-weight:bold;}
.em_b_navyblue {color:#446ecd; font-weight:bold;}
.em_b_orange {color:#e77a18; font-weight:bold;}
.em_b_red {color:#ff2a00; font-weight:bold;}
.em_b_green {color:#199416; font-weight:bold;}
.em_b_brown {color:#b78b32; font-weight:bold;}
.em_b_purple {color:#8a56af; font-weight:bold;}
.em_b_pastelgreen {color:#70aa78; font-weight:bold;}
.em_b_skyblue {color:#039db2; font-weight:bold;}
.em_b_white {color:#fff; font-weight:bold;}
.em_b_emerald {color:#1fa2ae; font-weight:bold;}
.em_b_emeraldblue {color:#2681a5; font-weight:bold;}
.em_b_orange1 {color:#d90000; font-weight:bold;}
.underline {text-decoration:underline;}
.underline.type2 {display:inline-block; background-repeat:repeat-x; background-position:left bottom; background-image:url(../images/template/blank_border.png); line-height:19px; text-decoration:none;}
.em_b_mint {font-weight:bold; color:#CCFAFF;}
.em_b_yellow {font-weight:bold; color:#eb9b0e;}
.em_b_grey {font-weight:bold; color:#9E9E9E;}

/* 테이블 */
table.table_t1 { border-collapse: collapse; width: 100%; margin:0 0 .5em 0; border-top:#4a4a4a solid 3px;}
table.table_t1 tr {  }
table.table_t1 th, table.table_t1 td {border: 1px solid #babcbe; padding:16px 10px; vertical-align:middle;}
table.table_t1 td.vertical_top{vertical-align:top;}
table.table_t1 td {background-color:#fff;}
table.table_t1 th, table.table_t1 td a {color:#555555; }
table.table_t1 thead, table.table_t1 tfoot {font-weight: normal; color:#000; }
table.table_t1 thead th, table.table_t1 tfoot th { background:#fbfbfb; color: #000; font-weight:600; text-align: center; vertical-align: middle;}
table.table_t1 thead.alt th, table.table_t1 tfoot.alt th { font-weight: normal; }
table.table_t1 tbody td.f11{ font-size:11px;}
table.table_t1 tbody th { text-align:center; color:#333333; font-weight:600;}
table.table_t1 th { background: #fbfbfb; font-weight: normal; text-align: inherit; }
table.table_t1 tbody tr:first-child th, table.table_t1 tbody tr:first-child td{border-top:none;}
table.table_t1 th:first-child, table.table_t1 td:first-child{border-left:none;}
table.table_t1 th:last-child, table.table_t1 td:last-child{border-right:none;}

/* 반응형테이블 */
@media screen and (max-width:800px){
table.table_t1.responsive thead{display:none;}
table.table_t1.responsive colgroup{display:none;}
table.table_t1.responsive tbody {border-top: 1px solid #151515;}
table.table_t1.responsive tbody tr{position:relative; display:block;border-bottom:1px solid #d9d9d9;}
table.table_t1.responsive tbody tr:after{display:block; clear:both; content:"."; visibility:hidden; height:0;}
table.table_t1.responsive tbody tr:nth-child(odd) {background:#f8f8f8;}
table.table_t1.responsive tbody td{display:block;padding:4px 3%;border:none;text-align:left;box-sizing:border-box; background-color:transparent;}
table.table_t1.responsive tbody th{display:block;padding:4px 3%; text-align:left; vertical-align:middle; background-color:transparent; border:none;}
table.table_t1.responsive tbody tr:first-child td, table.table_t1.responsive tbody tr:first-child th{border-top:none;}
table.table_t1.responsive tbody th:before, table.table_t1.responsive tbody td:before{content:attr(data-content)' : ';}/* thead의 내용을 tbody의 th, td에 각각 삽입 */
}

/* 스크롤테이블 */
@media screen and (max-width:1000px){
.scroll_table{overflow-x:auto; padding-bottom:10px;}
.scroll_table table{width:1000px;}
}

/* 오버스크롤테이블(내용이 많아 가로값이 넘을경우) */
.over_scroll_table{overflow-x:auto; padding-bottom:10px;}
.over_scroll_table table{width:1000px;}


/* 텍스트 정렬 */
.text_center {text-align:center;}
.text_right {text-align:right;}
.text_left {text-align:left;}
.text_justify{text-align:justify;}
.vertical_top{vertical-align:top;}
.vertical_middle{vertical-align:middle;}
.vertical_bottom{vertical-align:bottom;}

table.table_t1 tbody th.text_left {text-align:left;}

@media screen and (max-width:1000px){
br.m_hide{display:none;}
}


/* 컨텐츠박스 */
.titlebox1{position:relative; border-top:#000 solid 1px; background-color:#f6f6f6; margin-bottom:80px; padding:30px 30px 30px 220px;}
.titlebox1 .imagebox{position:absolute; top:30px; left:30px; width:167px; height:167px; background-repeat:no-repeat;}
.titlebox1.default .imagebox{background-image:url(../images/template/titlebox1_image.png);}
/* ex) .cts0001 .titlebox1 .imagebox{background-image:url(이미지주소);}*/
.titlebox1 .conbox{min-height:108px;}
.titlebox1 .conbox .title{margin-bottom:6px; line-height:30px; color:#000; font-size:20px;}
.titlebox1 .conbox .text{line-height:24px; color:#555555;}
.titlebox1 .conbox .text ul.bu{margin:0;}

@media screen and (max-width:1000px){
.titlebox1 .conbox .text br{display:none;}
}

.titlebox2{border:#005aab solid 1px; border-radius:1px; overflow:hidden; background-color:#ccdeee; margin-bottom:50px; padding:10px;}
.titlebox2 .innerbox{background-color:#FFF; min-height:145px; padding:32px 30px 32px 230px; background-repeat:no-repeat; background-position:42px 36px;}
/* ex) .cts0001 .titlebox2 .imagebox{background-image:url(이미지주소);}*/
.titlebox2.default .innerbox{background-image:url(../images/template/titlebox2_image.png);}
.titlebox2 .innerbox .table-cell{display:table-cell; width:638px; height:145px; vertical-align:middle;}
.titlebox2 .innerbox .table-cell ul.bu{margin:0;}

.bbs_explain_top .titlebox2{border:none; background-color:transparent; border-radius:0; margin-bottom:0; padding:0;}
.bbs_explain_top .titlebox2 .innerbox{padding:0 0 0 182px; background-position:10px 4px;}

.titlebox3{position:relative; margin-bottom:50px; padding-left:150px;}
.titlebox3 .imagebox{position:absolute; top:0; left:0; width:136px; background-color:#1f67b9; background-repeat:no-repeat; background-position:right bottom; background-image:url(../images/template/titlebox3_pattern.png);}
.titlebox3 .imagebox .icon{height:136px; background-repeat:no-repeat; background-position:center center;}
.titlebox3.default .imagebox .icon{background-image:url(../images/template/titlebox3_image.png);}
/* ex) .cts0001 .titlebox3 .imagebox .icon{background-image:url(이미지주소);}*/
.titlebox3 .imagebox .icon .corner{position:absolute; width:24px; height:18px; left:0; top:0; background-repeat:no-repeat; background-image:url(../images/template/titlebox3_left_corner.png);}
.titlebox3 .conbox{position:relative; background-color:#f7f7f7; background-repeat:no-repeat; background-position:right top; background-image:url(../images/template/titlebox3_con.png); min-height:80px; padding:31px 34px 25px;}
.titlebox3 .conbox .title{margin-bottom:8px; line-height:24px; color:#1f67b9; font-size:18px; font-weight:600;}
.titlebox3 .conbox .text{line-height:24px;}
.titlebox3 .conbox .text ul.bu{margin:0;}
.titlebox3 .conbox .corner{position:absolute; bottom:0; right:0; width:24px; height:19px; background-repeat:no-repeat; background-image:url(../images/template/titlebox3_right_corner.png);}

.titlebox4{border:#b7bbd1 solid 1px; background-color:#e9f2fd; margin-bottom:50px; padding:27px 288px 28px 72px; background-repeat:no-repeat;}
.titlebox4.default{background-image:url(../images/template/titlebox4_image.png); background-position:91% 26px;}
.titlebox4 .conbox .title{margin-bottom:8px; line-height:24px; color:#082f5a; font-size:18px;}
.titlebox4 .conbox .text{margin-bottom:10px; line-height:24px;}
.titlebox4 .conbox a.link{display:inline-block; line-height:23px; border:#8999ac solid 1px; border-radius:1px; overflow:hidden; background-color:#FFF; padding:6px 30px; color:#082f5a;}

.titlebox5{position:relative; background-color:#edeff4; border:#e8e8e8 solid 1px; padding:26px 25px 26px 166px;}
.titlebox5:before{position:absolute; top:17px; left:41px; background-color:#FFF; width:96px; height:96px; border-radius:96px; background-repeat:no-repeat; background-position:center center; content:'';}
.titlebox5.default:before{background-image:url(../images/template/titlebox5_image.png);}
.titlebox5 .conbox{display:table-cell; width:727px; height:79px; vertical-align:middle;}
.titlebox5 .conbox .title{margin-bottom:7px; line-height:24px; color:#1e4d97; font-size:17px; font-weight:600;}
.titlebox5 .conbox ul li, .titlebox5 .conbox p{line-height:24px;}

.titlebox6 {position:relative; padding:10px 0; background:url(../images/template/titlebox6_bg.gif) repeat left top;}
.titlebox6 .innerbox { background-color:#fff;}
.titlebox6 .innerbox .table-cell { min-height:130px; padding:40px 0 40px 160px; background-image:url(../images/template/titlebox6_icon.png); background-repeat:no-repeat; background-position:left center;}
.titlebox6 .innerbox .table-cell .title {position:relative; padding-top:30px; font-size:30px; line-height:32px;color:#000; letter-spacing:-0.03em;}
.titlebox6 .innerbox .table-cell .text{margin-top:12px; font-size:15px; color:#555;}
.titlebox6 .innerbox .table-cell .btn_box {position:absolute; right:0; top:95px;}
.titlebox6 .innerbox .table-cell .btn_box a {width:120px; text-align:center;}


/* 박스스타일 */
.box{border:#e8e8e8 solid 1px; background-color:#fbfbfb; padding:26px 4%;}
.box .title{margin-bottom:7px; line-height:24px; color:#000; font-size:17px; font-weight:600;}
.box h4{margin:0 0 20px;}

/* 박스스타일타입 */
.linebox{position:relative; border-radius:10px; margin-bottom:30px; padding:10px;}
.linebox.skyblue{background-color:#d7e9f6;}
.linebox.orange{background-color:#f8e0c9;}
.linebox.green{background-color:#e3efd1;}
.linebox:before{position:absolute; top:0; left:0; width:100%; height:49px; border-top-left-radius:10px; border-top-right-radius:10px; content:'';}
.linebox:after{position:absolute; bottom:0; left:0; width:100%; height:49px; border-bottom-left-radius:10px; border-bottom-right-radius:10px; content:'';}
.linebox.skyblue:before, .linebox.skyblue:after{background-color:#87c0e3;}
.linebox.orange:before, .linebox.orange:after{background-color:#eba169;}
.linebox.green:before, .linebox.green:after{background-color:#b8d380;}
.linebox .line:before{position:absolute; top:4px; left:4px; width:calc(100% - 11px); height:calc(100% - 11px); border-style:solid; border-width:1px; border-radius:10px; content:''; z-index:1;}
.linebox.skyblue .line:before{border-color:#7698ad;}
.linebox.orange .line:before{border-color:#c17757;}
.linebox.green .line:before{border-color:#a0ae6a;}
.linebox .topicon:before, .linebox .topicon:after{position:absolute; top:44px; width:10px; height:10px; border-radius:10px; content:''; z-index:1;}
.linebox .bottomicon:before, .linebox .bottomicon:after{position:absolute; bottom:44px; width:10px; height:10px; border-radius:10px; content:''; z-index:1;}
.linebox .topicon:before, .linebox .bottomicon:before{left:0;}
.linebox .topicon:after, .linebox .bottomicon:after{right:0;}
.linebox.skyblue .topicon:before, .linebox.skyblue .topicon:after, .linebox.skyblue .bottomicon:before, .linebox.skyblue .bottomicon:after{background-color:#46a0c0;}
.linebox.orange .topicon:before, .linebox.orange .topicon:after, .linebox.orange .bottomicon:before, .linebox.orange .bottomicon:after{background-color:#d05a2a;}
.linebox.green .topicon:before, .linebox.green .topicon:after, .linebox.green .bottomicon:before, .linebox.green .bottomicon:after{background-color:#9eb248;}
.linebox .innerbox{position:relative; background-color:#FFF; border-radius:7px; padding:21px 36px 30px; z-index:2;}
.linebox .innerbox .title{position:relative; margin:0 0 13px; padding:0 0 48px; line-height:40px; text-align:center; font-size:30px; font-weight:200; background-image:none;}
.linebox.skyblue .innerbox .title{color:#2f93ba;}
.linebox.orange .innerbox .title{color:#e65a19;}
.linebox.green .innerbox .title{color:#78981b;}
.linebox .innerbox .title:before{position:absolute; bottom:0; left:calc(50% - 3px); width:6px; height:37px; content:'';}
.linebox.skyblue .innerbox .title:before{background-color:#2f93ba;}
.linebox.orange .innerbox .title:before{background-color:#e65a19;}
.linebox.green .innerbox .title:before{background-color:#78981b;}
.linebox .innerbox .conbox .sub_title{line-height:29px; text-align:center; font-size:20px;}
.linebox.skyblue .innerbox .conbox .sub_title{color:#2f93ba;}
.linebox.orange .innerbox .conbox .sub_title{color:#e65a19;}
.linebox.green .innerbox .conbox .sub_title{color:#78981b;}


@media screen and (max-width:1000px){
.linebox .innerbox{padding:21px 4% 30px;}
}

/* 이미지박스 */
.box_img{border:#e1e1e1 solid 1px; padding:30px 3%; text-align:center; line-height:0;}

/* 이미지 확대보기 */
.box_image {text-align:center; line-height:0;}
.box_image .inner {position:relative; display:inline-block; max-width:100%; line-height:0;}
.box_image img {max-width:100%;}
.box_image .img_zoom {display:none; position:absolute; right:0; bottom:0; z-index:10;}
.box_image .img_zoom a {display:inline-block; width:24px; height:24px; padding:6px; background-color:rgba(0, 0, 0, 0.7); background-repeat:no-repeat; background-position:center center; background-image:url(../images/template/image_zoom.png); font-size:0;}
@media screen and (max-width:800px) {
    .box_image .img_zoom {display:inline-block;}
}

/* 텍스트꾸미기 */
.point{display:inline-block; background-color:#f67401; margin:0 5px; padding:2px 8px 1px; color:#FFF;}
.warning{background-repeat:no-repeat; background-position:left 2px; background-image:url(../images/template/warning.gif); padding-left:28px; line-height:24px; color:#000; font-size:15px;}

/* 이미지 확대버튼 */
.image_zoom{position:relative;}
.image_zoom a{position:absolute; right:0; bottom:0; display:none; width:24px; height:24px; padding:6px; background-color:rgba(0, 0, 0, 0.7); background-repeat:no-repeat; background-position:center center; background-image:url(../images/template/image_zoom.png); font-size:0;}
@media screen and (max-width:1000px){
.image_zoom{display:inline-block; line-height:0;}
.image_zoom a{display:block;}
}

/* 공공누리마크 /www/contents.do?key=122 참조 */
.openbox{margin-top:50px;}
.openbox .left{float:left; line-height:0;}
.openbox.type1 .left{width:149px;}
.openbox.type2 .left{width:183px;}
.openbox.type3 .left{width:219px;}
.openbox .textbox{float:right;}
.openbox.type1 .textbox{width:751px;}
.openbox.type2 .textbox{width:717px;}
.openbox.type3 .textbox{width:681px;}
.openbox .textbox .innerbox{display:table; table-layout:fixed; width:100%;}
.openbox .textbox .innerbox p{display:table-cell; width:100%; height:54px; vertical-align:middle;}

@media screen and (max-width:1000px){
.openbox{display:table; table-layout:fixed; width:100%;}
.openbox .left{float:none; display:table-cell; vertical-align:middle;}
.openbox .textbox{float:none; display:table-cell; padding-left:20px; vertical-align:middle;}
.openbox .textbox .innerbox{display:block; width:auto;}
.openbox .textbox .innerbox p{display:block; width:auto; height:auto;}
.openbox.type1 .textbox{width:70%;}
.openbox.type2 .textbox{width:68%;}
.openbox.type3 .textbox{width:65%;}
}

@media screen and (max-width:480px){
.openbox{display:block;}
.openbox .left{display:block; width:auto !important; margin-bottom:20px;}
.openbox .textbox{display:block; width:auto !important; padding-left:0;}
}

/* 버튼 */
.btn{display:inline-block; line-height:24px; padding:12px 30px; border-style:solid; border-width:1px; border-color:transparent;}
input.btn{line-height:24px; box-sizing:content-box;}
.btn.blue{background-color:#005aab; color:#FFF;}
.btn.navy{background-color:#003876; color:#FFF;}
.btn.darkgreen{background-color:#1d4f72; color:#FFF;}
.btn.red{background-color:#de7979; color:#FFF;}
.btn.lightgreen{background-color:#71a32f; color:#FFF;}
.btn.orange{background-color:#f67401; color:#FFF;}
.btn.lightblue{background-color:#2b82cd; color:#FFF;}
.btn.white-blue{background-color:#FFF; border-color:#005baa; color:#005baa;}
.btn.white-lightblue{background-color:#FFF; border-color:#2b82cd; color:#3579d4;}
.btn.white-darkgreen{background-color:#FFF; border-color:#1d4f72; color:#1d4f72;}
.btn.white-red{background-color:#FFF; border-color:#de7979; color:#bc5353;}
.btn.gray{background-color:#4a4a49; color:#FFF;}
.btn.lightgray{background-color:#768392; color:#FFF;}
.btn.white-black{background-color:#FFF; border-color:#3c3c3c; color:#3a3a3a;}
.btn.white-gray{background-color:#FFF; border-color:#626262; color:#626262;}
.btn.white-lightgray{background-color:#FFF; border-color:#b0b0b0; color:#666666;}
.btn.white-navy{background-color:#FFF; border-color:#003876; color:#003876;}
.btn.white-lightgreen{background-color:#FFF; border-color:#7cb333; color:#5c8d1c;}
.btn.white-orange{background-color:#FFF; border-color:#e78613; color:#bf6b08;}

.btn.download{padding:12px 12px 12px 17px;}
.btn.download span{display:block; background-repeat:no-repeat; background-position:right top; background-image:url(../images/template/download.png); padding-right:34px;}
.btn.download.white-blue span{background-image:url(../images/template/download_blue.png);}
.btn.download.white-lightblue span{background-image:url(../images/template/download_lightblue.png);}
.btn.download.white-darkgreen span{background-image:url(../images/template/download_darkgreen.png);}
.btn.download.white-red span{background-image:url(../images/template/download_red.png);}
.btn.download.white-black span{background-image:url(../images/template/download_black.png);}

.btn.blank{padding:12px 12px 12px 17px;}
.btn.blank span{display:block; background-repeat:no-repeat; background-position:right 2px; background-image:url(../images/template/btn_blank.png); padding-right:34px;}
.btn.blank.white-blue span{background-image:url(../images/template/btn_blank_blue.png);}
.btn.blank.white-lightblue span{background-image:url(../images/template/btn_blank_lightblue.png);}
.btn.blank.white-darkgreen span{background-image:url(../images/template/btn_blank_darkgreen.png);}
.btn.blank.white-red span{background-image:url(../images/template/btn_blank_red.png);}
.btn.blank.white-black span{background-image:url(../images/template/btn_blank_black.png);}

.btn.small{line-height:23px; padding:6px 22px;}
input.btn.small,input[type="submit"].btn.small{height:auto; line-height:23px;}
.btn.small.download{padding:6px 13px 6px 18px;}
.btn.small.download span{background-image:url(../images/template/download_small.png); background-position:right 2px; padding-right:30px;}
.btn.small.download.white-blue span{background-image:url(../images/template/download_small_blue.png);}
.btn.small.download.white-lightblue span{background-image:url(../images/template/download_small_lightblue.png);}
.btn.small.download.white-gray span{background-image:url(../images/template/download_small_gray.png);}
.btn.small.download.white-lightgray span{background-image:url(../images/template/download_small_lightgray.png);}
.btn.small.download.white-red span{background-image:url(../images/template/download_small_red.png);}

.btn.small.blank{padding:6px 13px 6px 18px;}
.btn.small.blank span{background-image:url(../images/template/btn_blank_small.png); background-position:right 3px; padding-right:30px;}
.btn.small.blank.white-blue span{background-image:url(../images/template/btn_blank_small_blue.png);}
.btn.small.blank.white-lightblue span{background-image:url(../images/template/btn_blank_small_lightblue.png);}
.btn.small.blank.white-gray span{background-image:url(../images/template/btn_blank_small_gray.png);}
.btn.small.blank.white-lightgray span{background-image:url(../images/template/btn_blank_small_lightgray.png);}
.btn.small.blank.white-red span{background-image:url(../images/template/btn_blank_small_red.png);}

a.link{display:inline-block; line-height:22px; padding:0 9px 2px 8px; border-bottom-color:transparent; border-bottom-style:solid; border-bottom-width:1px;}
a.link:hover{text-decoration:none;}
a.link.download span{display:block; line-height:22px; background-repeat:no-repeat; background-position:right 2px; padding-right:31px;}

a.link.blue{border-bottom-color:#005baa; color:#005baa;}
a.link.lightblue{border-bottom-color:#2b82cd; color:#2b82cd;}
a.link.gray{border-bottom-color:#626262; color:#626262;}
a.link.lightgray{border-bottom-color:#768392; color:#768392;}
a.link.red{border-bottom-color:#de7979; color:#de7979;}

a.link.blue.download span{background-image:url(../images/template/download_small_blue.png);}
a.link.lightblue.download span{background-image:url(../images/template/download_small_lightblue.png);}
a.link.gray.download span{background-image:url(../images/template/download_small_gray.png);}
a.link.lightgray.download span{background-image:url(../images/template/download_small_lightgray.png);}
a.link.red.download span{background-image:url(../images/template/download_small_red.png);}

a.link.blank span{display:block; line-height:22px; background-repeat:no-repeat; background-position:right 2px; padding-right:31px;}
a.link.blue.blank span{background-image:url(../images/template/btn_blank_small_blue.png);}
a.link.lightblue.blank span{background-image:url(../images/template/btn_blank_small_lightblue.png);}
a.link.gray.blank span{background-image:url(../images/template/btn_blank_small_gray.png);}
a.link.lightgray.blank span{background-image:url(../images/template/btn_blank_small_lightgray.png);}
a.link.red.blank span{background-image:url(../images/template/btn_blank_small_red.png);}
a.blank_type2{display:inline; background-repeat:repeat-x; background-position:left bottom; background-image:url(../images/template/blank_border.png); line-height:19px; margin-right:4px; padding-right:1px; color:#000;}
a.blank_type2 span{background-repeat:no-repeat; background-position:right top; background-image:url(../images/template/btn_blank_small_blue.png); padding-right:23px;}
a.link2{border-bottom:#000 dashed 1px;}

input.search_btn{border-style:solid; border-width:1px; border-color:transparent; background-color:#6c6f71; background-repeat:no-repeat; background-position:66% center; background-image:url(../images/template/search_btn.png); margin:0; padding:0 13px 0 0; width:180px; height:50px; color:#FFF;}
input.search_btn.white{background-color:#FFF; background-image:url(../images/template/search_btn_gray.png); border-color:#6c6f71; border-radius:1px; color:#6c6f71;}
input.search_btn.small{width:130px; height:40px; background-position:71% center; padding:0 16px 0 0;}
a.search_btn{display:inline-block; line-height:24px; background-color:#6c6f71; border-style:solid; border-width:1px; border-color:transparent; padding:12px 60px 12px 66px; color:#FFF;}
a.search_btn span{display:block; background-repeat:no-repeat; background-position:right 3px; background-image:url(../images/template/search_btn.png); padding-right:26px;}
a.search_btn.small{padding:7px 37px;}
a.search_btn.white{background-color:#FFF; border-color:#6c6f71; border-radius:1px; color:#6c6f71;}
a.search_btn.white span{background-image:url(../images/template/search_btn_gray.png);}

select.select{line-height:24px; padding:1px 20px; border-width:1px; border-style:solid; border-color:#d5d5d5; color:#555555; font-size:16px;}
select.select::-ms-expand{display:none;}

/* ie9이상 적용사항 */
@media only all{
select.select{height:40px; padding:0 46px 1px 7px; background-repeat:no-repeat; background-position:right center; background-image:url(../images/template/select_bg.gif); -webkit-appearance:none; -moz-appearance:none;}
}
.ie9 select.select{background-image:none; padding:0;}

input.button_go{background-color:#909497; border:none; width:70px; height:40px; color:#FFF; font-size:16px;}

/* 달력 */
input.hasDatepicker{ height:36px; margin:0; border-color:#d5d5d5; background-color:#fafafa; color:#333333;}
button.ui-datepicker-trigger{background-color:#6c6f71; padding:0; width:40px; height:40px; background-repeat:no-repeat; background-position:center center; background-image:url(../images/template/calendar_button.png); font-size:0;}

/* form 양식 */
input.radio{width:24px; height:24px;}
input.checkbox{width:24px; height:24px;}
input.textbox{height:36px; background-color:#fafafa;}

/* tablet */
@media screen and (max-width:1000px){
.titlebox4{padding:27px 30% 28px 6%;}
#contents img{max-width:100%;}

}

/* mobile */
@media screen and (max-width:800px){
.titlebox6 .innerbox {padding:10px 0;}
.titlebox6 .innerbox .table-cell {min-height:auto; padding:100px 0 0 0; background-position:center top; background-size:90px;}
.titlebox6 .innerbox .table-cell .title {padding-top:10px; text-align:center; font-size:18px; font-weight:600;}
.titlebox6 .innerbox .table-cell .text {text-align:center; margin-top:0;}
.titlebox6 .innerbox .table-cell .btn_box {position:static; margin-top:10px; text-align:center;}
.titlebox6 .innerbox .table-cell .btn_box a {width:auto; line-height:12px;}

}

@media screen and (max-width:640px){
.titlebox1{padding:30px 4%;}
.titlebox1 .imagebox{position:static; margin:0 auto 30px;}
.titlebox2 .innerbox{min-height:0; padding:196px 4% 30px; background-position:center 30px;}
.bbs_explain_top .titlebox2 .innerbox{padding:176px 0 0; background-position:center top;}
.titlebox2 .innerbox .table-cell{display:block; width:auto; height:auto;}
.titlebox2 .innerbox br{display:none;}
.titlebox3{padding-left:0;}
.titlebox3 .imagebox{position:relative; width:auto;}
.titlebox3 .conbox{padding:31px 4% 25px;}
.titlebox4.default{padding:176px 4% 28px; background-position:center 25px;}/* 이미지 사이즈가 달라서 padding, background-position 개별사용 */
.titlebox4 .conbox .buttonbox{text-align:center;}
.titlebox5{padding:130px 4% 26px;}
.titlebox5:before{top:16px; left:calc(50% - 48px);}

}

/* 절차 */
.box_step{margin:5px 0 20px;border:1px dashed #d4d4d4;}
.box_step .box_wrap{padding:40px 0 15px 5%;}
.box_step li.dep1{float:left;width:50%;margin-bottom:25px;}
.box_step .inner_box{position:relative;text-align:center;width:70%;height:86px;line-height:86px;border:1px solid #96a0bc;box-sizing:border-box;}
.box_step .inner_box:before{position:absolute;right:-4px;bottom:-5px;display:inline-block;width:100%;height:100%;content:'';border-right:3px solid #ededed;border-bottom:4px solid #ededed;}
.box_step .inner_box:after{position:absolute;right:-28px;bottom:50%;display:inline-block;width:28px;height:8px;margin-bottom:-4px;content:'→';line-height:0;color:transparent;background:url(../images/template/step_arrow.png) right center no-repeat;overflow:hidden;}
.box_step li.last .inner_box{line-height:82px;border:3px solid #2b4380;}
.box_step li.last .inner_box:before{right:-6px;bottom:-7px;padding:4px 4px 0 0;}
.box_step li.last .inner_box:after{display:none;}
.box_step .inner_box span{position:relative;display:inline-block;width:96%;font-size:15px;padding:0 2%;line-height:18px;color:#464646;vertical-align:middle;}
.box_step .inner_box span span{display:block;width:auto;padding:8px 0 0;font-size:13px;line-height:15px;}
.box_step.type1 .box_wrap{padding-right:5%;}
.box_step.type1 li.dep1{width:100%;}
.box_step.type1 .inner_box{width:100%;}
.box_step.type1 .inner_box:after{display:none;}
.box_step.type2 li.dep1{width:50%;}
.box_step.type2 .inner_box{width:80%;}
.box_step.type3 li.dep1{width:33.3%;}
.box_step.type4 li.dep1{width:25%;}
.box_step.type5 li.dep1{width:20%;}

/* 절차세로형 */
.box_step.vertical li.dep1{position:relative; float:none; width:auto; margin-bottom:50px; padding-left:226px;}
.box_step.vertical.vertical_type1 .inner_box{position:absolute; top:0; left:0; width:195px;}
.box_step.vertical.vertical_type1 .inner_box:after{bottom:-15px; right:auto; left:calc(50% - 15px); transform:rotate(90deg);}
.box_step.vertical li.dep1 .conbox{display:table-cell; width:594px; height:88px; vertical-align:middle;}
.box_step.vertical li.dep1 .conbox ul.bu{margin:0; padding:0;}

@media screen and (max-width:640px) {
.box_step .box_wrap{padding:40px 5% 15px;}
.box_step li.dep1{float:none;width:auto !important;padding-bottom:15px;}
.box_step .inner_box{width:100% !important;}
.box_step .inner_box:after{left:50%;bottom:-19px;margin:0 0 0 -15px;transform:rotate(90deg);}
.box_step li.last{padding-bottom:0;}
.box_step.vertical li.dep1{margin-bottom:12px; padding:97px 0 0 8%;}
.box_step.vertical.vertical_type1 .inner_box:after{bottom:-50px; left:-13px; width:72px; height:22px; background-size:77px 9px;}
}

/* 하단 전화번호안내 공통 */
.bot{border:10px solid #eeeeee; background-color:#fbfbfb; padding:20px 4%; text-align:center;}
.bot .top{display:inline-block; padding:8px 0 8px 54px; background-image:url(../images/template/bot_icon.png); background-repeat:no-repeat; background-position:left top; font-size:16px; line-height:24px; text-align:left;}
.bot .top strong{color:#000;}
.bot ul.bu{margin:0;}

/* 청사배치도 */
.temp_building{background-color:#fbfbfb; background-repeat:no-repeat; background-position:center 6px; background-image:url(../images/template/temp_building_bg.png); border:#dddddd solid 1px; padding:25px 40px 62px;}
.temp_building .floorbox{position:relative; background-color:#FFF; border-bottom:#1e5073 solid 3px; margin-top:90px; padding:94px 4% 58px;}
.temp_building .floorbox .titlebox{position:absolute; top:-40px; left:50%; width:485px; margin-left:-242px; background-color:#004172; background-repeat:repeat-x; background-position:left center; background-image:url(../images/template/temp_building_line.png);}
.temp_building .floorbox .titlebox:after{position:absolute; top:0; right:-25px; width:25px; height:41px; content:''; background-repeat:no-repeat; background-image:url(../images/template/temp_building_corner.png);}
.temp_building .floorbox .titlebox .title{position:relative; background-image:none; margin:0; line-height:80px; height:80px; padding:0; text-align:center;}
.temp_building .floorbox .titlebox .title span.title_text{position:relative; padding:0 30px; background-color:#004172; color:#FFF; font-size:30px; font-weight:200;}
.temp_building .floorbox .titlebox .title span.title_text:before{position:absolute; left:0; top:calc(50% - 6px); display:block; width:13px; height:13px; content:''; background-repeat:no-repeat; background-position:center center; background-image:url(../images/template/temp_building_icon01.png);}
.temp_building .floorbox .titlebox .title span.title_text:after{position:absolute; right:0; top:calc(50% - 6px); display:block; width:13px; height:13px; content:''; background-repeat:no-repeat; background-position:center center; background-image:url(../images/template/temp_building_icon01.png);}
.temp_building .floorbox .titlebox .title span.title_text span.small{margin-left:9px; color:#FFF; font-size:23px;}
.temp_building .floorbox .imagebox{text-align:center; line-height:0;}
.temp_building .floorbox p.warning{margin-top:48px;}

@media screen and (max-width:1000px){
.temp_building{padding:25px 4% 62px;}
.temp_building .floorbox{padding:94px 4% 58px;}
}

@media screen and (max-width:800px){
.temp_building .floorbox .titlebox{left:25px; width:calc(100% - 50px); margin-left:0;}
.temp_building .floorbox .titlebox .title{display:table-cell; width:500px; vertical-align:middle; line-height:34px;}
}

@media screen and (max-width:640px){
.temp_building{background-size:60%;}
.temp_building p.sub_title{font-size:18px;}
.temp_building h3{line-height:42px; font-size:30px; letter-spacing:-1px;}
.temp_building h3 span.text{font-size:30px;}
.temp_building h3 span.text span.icon{font-size:36px;}
.temp_building .floorbox .titlebox .title span.title_text{display:inline-block; padding:0 8%; line-height:27px; font-size:23px;}

.temp_building .floorbox .titlebox .title span.title_text:before{top:calc(50% - 8px);}
.temp_building .floorbox .titlebox .title span.title_text:after{top:calc(50% - 8px);}
.temp_building .floorbox .titlebox .title span.title_text span.small{display:block; margin-left:0; font-size:16px;}
}

@media screen and (max-width:480px){
.temp_building h3 span.text{display:block;}
}
