.search_bar input[type=text] {
  margin: auto;
  width: 400px;
  box-sizing: border-box;
  border: 2px solid rgb(0, 92, 142);
  border-radius: 14px;
  font-size: 12px;
  background-color: white;
  background-image: url('http://image.neonet.co.kr/webservice/novo-mobile-new/searchicon.png');
  background-size: 14px;
  background-position: 10px 6px;
  background-repeat: no-repeat;
  padding: 5px 10px 5px 30px;
  margin: 0 10px 10px 10px;
}

input:focus{
  outline: none;
}
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  font-family: '굴림';
  position: absolute;
  text-align: left;
  border: 1px solid rgb(0, 92, 142);
  border-bottom: 1px solid rgb(0, 92, 142);
  border-top: none;
  z-index: 99;
  top: 27.2px;
  left: 24px;
  width: 372px;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.Neonet_header .nthGnb_mn1 a {width:69px; margin:0 0 0 0; left: 20px;}
.Neonet_header .nthGnb_mn2 a {width:58px; margin:0 0 0 0;}
.Neonet_header .nthGnb_mn3 a {width:98px; margin:0 0 0 0;}
.Neonet_header .nthGnb_mn4 a {width:83px; margin:0 0 0 0;}
.Neonet_header .nthGnb_mn5 a {width:73px; margin:0 0 0 0;}
.Neonet_header .nthGnb_mn6 a {width:60px; margin:0 0 0 0;}
.Neonet_header .nthGnb_mn7 a {width:60px; margin:0 0 0 0;}
.Neonet_header .nthGnb_mn8 a {width:111px; margin:0 0 0 0;}
.Neonet_header .nthGnb_mn9 a {width:71px; margin:0 0 0 0;}
.Neonet_header .nthGnb_mn10 a {width:130px; margin:0 0 0 0;}
.Neonet_header .nthGnb_mn11 .s_menu {left:880px; width:71px; margin:0 0 0 0; right: 0px;}