/*********************************	공통  *************************************/

* {padding:0; margin:0;}
body,div,p,h1,h2,h3,h4,h5,h6,form,iframe,th,td {margin:0px; padding:0px; list-style:none;}
body	{background-color:#ffffff; margin:0px; padding:0px; color:#333333; font-size:12px; font-family:굴림,Gulim,AppleGothic,sans-serif; line-height:140%;}
ul,ol,li,dl,dt,dd {margin:0px; padding:0px; list-style:none;}
input, select {vertical-align:middle;margin:0;padding:0;color:#333333; font-size:12px; font-family:굴림,Gulim,AppleGothic,sans-serif;}
hr {clear:both; display:none;}
h1,h2,h4,h5 {display:none;}
img {border:0px;}
.input {padding:2px 2px 2px 2px; border: 1px solid #C1CFDD; color:#333333;}
.photo img {padding:0; margin:0; border: 1px solid #333333;}

a {color:#333333; text-decoration:none;}
a:link {color:#333333; text-decoration:none;}
a:visited {color:#333333; text-decoration:none;}
a:active {color:#333333; text-decoration:none;}
a:hover {color:#333333; text-decoration:underline;}
a:focus {color:#333333; text-decoration:none;}

/************************************* 정렬 ***********************************/

.fl_le {float:left;}
.fl_ri {float:right;}
.fl_ce {float:center;}
.fl_clr{clear:both;}

/*********************************** 배경색상 *********************************/

.bg_gray   {background:#FBFBFB;}
.bg_white  {background:#FFFFFF;}
.bg_yellow {background:#FFFFE7;}
.bg_yellow2 {background:#fffff0;}
.bg_blue   {background:#A1BBE9;}
.bg_orange {background-color: #FFF4E5;}

/*************** heaer *********/

/************** MAIN TOP  *************/

.Neo_header {position:relative; width:970px; margin:0px auto 0px auto; padding:0; text-align:left; list-style:none; clear: both;}
.nhMenu {margin:0; padding:7px 10px 2px 10px; font-size:11px; font-family:"돋움"; background:url(http://image.neonet.co.kr/service/neonet/images/home/nhmenu_bg.gif) no-repeat bottom;}
.nhMenu span {color:#C1C1C1; font-size:11px; font-family:"돋움"; text-decoration:none;}
.nhTop {width:970px;height:78px;}
.nhTop .t_logo {margin:0; padding:12px 0px 0px 30px;width:127px; position:relative; float:left;}
.nhTop .t_event {margin:0; padding:6px 0px 0px 90px; width:290px; position:relative; float:left; font-size:11px; font-family:"돋움"; color:#C1C1C1; letter-spacing:-1px; line-height:120%;}
.nhTop .t_event img {padding-bottom:2px;}
.nhTop .t_event a {color:#666;}
.nhTop .t_search {margin:0; padding:23px 5px 0px 0px; width:260px; position:relative; float:right;}
.nhTop .t_search .search_best {margin:0; padding:6px 0 0 0; font-family:dotum;font-size:11px; letter-spacing:-1px;}
.nhTop .t_search .search_best a {margin:0; padding:0 1px;}
.nhTop .t_search .input {width:195px; padding:2px 2px 2px 2px; border: 1px solid #C1CFDD; color:#666666; background:#f5f8fa;}
.nhGnb {background:url(http://image.neonet.co.kr/service/neonet/images/home/nh_gnb_menu_1102.gif) no-repeat; width: 970px; height: 55px;}
.nhGnb ul li {float:left; display:inline; }
.nhGnb ul li a span {display:none; }
.nhGnb ul li a {float:left; display:inline; height:27px;}
.nhGnb_mu1 a {width:45px; margin-left: 20px;} 
.nhGnb_mu2 a {width:74px;} 
.nhGnb_mu3 a {width:47px; margin-left: 28px;} 
.nhGnb_mu4 a {width:49px;} 
.nhGnb_mu5 a {width:73px; margin-left: 26px;} 
.nhGnb_mu6 a {width:63px;}
.nhGnb_mu7 a {width:80px; margin-left:32px;} 
.nhGnb_mu8 a {width:63px;}
.nhGnb_mu9 a {width:54px; margin-left:20px;}
.nhGnb_mu10 a {width:74px; margin:0 197px 0 25px;}
.nhGnb_mu11 a {width:87px; margin-left: 20px;}
.nhGnb_mu12 a {width:85px;}
.nhGnb_mu13 a {width:87px;}
.nhGnb_mu14 a {width:128px; margin-left: 39px;}
.nhGnb_mu15 a {width:111px; margin-left: 40px;}
.nhGnb_mu16 a {width:121px; margin:0 149px 0 0;}
.nhGnb_mu17 .s_menu {width:92px; cursor:pointer;}
.nhGnb_mu17 #sm_list {clear:both; padding:11px 4px 7px 7px; width:265px; color:#c1c1c1; background:#FFFFFF; display:none; z-index:110; position:relative; top:2px; margin-left:-177px; overflow: hidden; border: 2px solid #b1c3d4;}
.nhGnb_mu17 #sm_list table td {float:left; }
.nhGnb_mu17 #sm_list a {padding:0 2px 0 2px; height:17px; padding: 0px 10px 2px 8px; letter-spacing:-1px; background: url(http://image.neonet.co.kr/service/neonet/images/home/nh_top_sub_menu_line.gif) no-repeat right 2px; line-height:140%;}
.nhGnb_mu17 #sm_list a.line_off {background: #FFFFFF;}
.nhGnb_mu17 #sm_list iframe  {position: absolute; top:0; left:0; border: 0px; z-index:-1; filter:mask(); } /* IE6에서 select박스가select박스가 레이어 위로 나왔을경우 */

/* 상단 */
.Neonet_header {position:relative; width:970px; margin:0px auto 0px auto; padding:0; text-align:left; list-style:none; clear: both;}
.Neonet_header .nthTop {width:970px;height:77px;}
.Neonet_header .nthTop .t_logo {margin:0; padding:12px 0px 0px 30px;width:127px; position:relative; float:left;}
.Neonet_header .nthTop .t_event {position:absolute; left:158px; top:12px;}
.Neonet_header .nthTop .t_sns {margin:0; padding:45px 0px 0px 383px; float:left;}
/*
.Neonet_header .nthTop .t_event {margin:0; padding:6px 0px 0px 90px; width:290px; position:relative; float:left; font-size:11px; font-family:"돋움"; color:#C1C1C1; letter-spacing:-1px; line-height:120%;}
.Neonet_header .nthTop .t_event img {padding-bottom:2px;}
.Neonet_header .nthTop .t_event a {color:#666;}
*/
.Neonet_header .nthTop .t_search {margin:0; padding:23px 5px 0px 0px; width:270px; position:relative; float:right;}
.Neonet_header .nthTop .t_search strong {padding:0 7px 0 0; letter-spacing:-2px; color:#333333;}
.Neonet_header .nthTop .t_search .search_best {margin:0; padding:6px 0 0 0; font-family:dotum;font-size:11px; letter-spacing:-1px;}
.Neonet_header .nthTop .t_search .search_best a {margin:0; padding:0 1px; color:#666666;}
.Neonet_header .nthTop .t_search .input {width:190px; padding:5px 2px 3px 2px; border: 1px solid #c7d5e1; color:#666666; background:#ffffff;}
.Neonet_header .nthTop .t_right {text-align:right;margin:0; padding:0px 8px 0px 0px; width:270px; position:relative; float:right;}
.Neonet_header .nthTop .t_right strong {padding:0 7px 0 0; letter-spacing:-2px; color:#333333;}
.Neonet_header .nthTop .t_right .partner_mu {margin:0 -4px 0 0; padding:6px 0px 21px 0; text-align:right; font-family:dotum;font-size:11px; letter-spacing:0px;}
.Neonet_header .nthTop .t_right .partner_mu a {margin:0; padding:0 4px; color:#333333;}
.Neonet_header .nthTop .t_right .input {width:185px; padding:5px 2px 3px 5px; border: 1px solid #c7d5e1; color:#666666; background:#ffffff;}
.Neonet_header .nthGnb {background:url(http://image.neonet.co.kr/service/neonet/images/home/nth_gnb_menu.gif) no-repeat; width: 970px; height: 30px;}
.Neonet_header .nthGnb ul li {float:left; display:inline; }
.Neonet_header .nthGnb ul li a span {display:none; }
.Neonet_header .nthGnb ul li a {float:left; display:inline; height:27px;}

.Neonet_header .nthGnb_mn1 a {width:58px; margin:0 0 0 10px;} 
.Neonet_header .nthGnb_mn2 a {width:60px; margin:0 0 0 0;} 
.Neonet_header .nthGnb_mn3 a {width:95px; margin:0 0 0 0;} 
.Neonet_header .nthGnb_mn4 a {width:86px; margin:0 0 0 0;} 
.Neonet_header .nthGnb_mn5 a {width:72px; margin:0 0 0 0;} 
.Neonet_header .nthGnb_mn6 a {width:60px; margin:0 0 0 0;}
.Neonet_header .nthGnb_mn7 a {width:60px; margin:0 30px 0 0;}
.Neonet_header .nthGnb_mn8 a {width:105px; margin:0 0 0 0;}
.Neonet_header .nthGnb_mn9 a {width:72px; margin:0 0 0 0;}
.Neonet_header .nthGnb_mn10 a {width:95px; margin:0 50px 0 0;}
.Neonet_header .nthGnb_mn11 .s_menu {width:97px; cursor:pointer;}
.Neonet_header .nthGnb_mn11 #sm_list {clear:both; padding:11px 4px 7px 7px; width:280px; color:#c1c1c1; background:#FFFFFF; display:none; z-index:110; position:relative; top:2px; margin-left:-194px; overflow: hidden; border: 2px solid #b1c3d4;}
.Neonet_header .nthGnb_mn11 #sm_list table td {float:left; }
.Neonet_header .nthGnb_mn11 #sm_list a {padding:0 2px 0 2px; height:17px; padding: 0px 10px 2px 8px; letter-spacing:-1px; background: url(http://image.neonet.co.kr/service/neonet/images/home/nh_top_sub_menu_line.gif) no-repeat right 2px; line-height:140%;}
.Neonet_header .nthGnb_mn11 #sm_list a.line_off {background: #FFFFFF;}
.Neonet_header .nthGnb_mn11 #sm_list iframe  {position: absolute; top:0; left:0; border: 0px; z-index:-1; filter:mask(); } /* IE6에서 select박스가select박스가 레이어 위로 나왔을경우 */

/*보안관련*/
.Neonet_header .nthGnb_mn11_ssl .s_menu {width:86px; cursor:pointer;}
.Neonet_header .nthGnb_mn11_ssl #sm_list {clear:both; padding:11px 4px 7px 7px; width:280px; color:#c1c1c1; background:#FFFFFF; display:none; z-index:110; position:relative; top:2px; margin-left:-194px; overflow: hidden; border: 2px solid #b1c3d4;}
.Neonet_header .nthGnb_mn11_ssl #sm_list table td {float:left; }
.Neonet_header .nthGnb_mn11_ssl #sm_list a {padding:0 2px 0 2px; height:17px; padding: 0px 10px 2px 8px; letter-spacing:-1px; background: url(https://image.neonet.co.kr/service/neonet/images/home/nh_top_sub_menu_line.gif) no-repeat right 2px; line-height:140%;}
.Neonet_header .nthGnb_mn11_ssl #sm_list a.line_off {background: #FFFFFF;}
.Neonet_header .nthGnb_mn11_ssl #sm_list iframe  {position: absolute; top:0; left:0; border: 0px; z-index:-1; filter:mask(); } /* IE6에서 select박스가select박스가 레이어 위로 나왔을경우 */


/***************  MAIN BODY  **********/
/* 중단 */
.Neonet_body {/*position:relative; 메뉴더보기 가려짐*/ clear:both; margin:11px auto 0px auto; padding: 0px; width:970px; overflow:visible; text-align:left;}

/* CONTENTS left */
.ntbContents {clear: both; float:left; width:665px; height:100%; margin:0 0px 0 0; padding:0;}



/************ MAIN FOOTER  ************/

.Neo_service {position:relative; width:970px; margin:7px auto; padding:0; clear: both;}
.Neo_service .ne_serv {margin:0px; padding:20px 20px 0px 20px; background: url(http://image.neonet.co.kr/service/neonet/images/home/neo_service_bg.gif) no-repeat top;}
.Neo_service .ne_serv2 {margin:0px; padding:9px 20px 0px 20px; background: url(http://image.neonet.co.kr/service/neonet/images/home/neo_service2_bg.gif) no-repeat top;}
.Neo_service .ne_notice {margin:0px; padding:0 0 20px 0; color:#999999;}
.Neo_service .ne_notice strong {padding:0 10px 0 0; color:#333333;}
.Neo_service .ne_notice a {padding:0 5px 0 0; color:#333333;}
.Neo_service .ne_serv_end {margin:0px; padding:7px 0 0 0; background: url(http://image.neonet.co.kr/service/neonet/images/home/neo_service_end.gif) no-repeat bottom; }
.Neo_footer {position:relative; margin: 7px auto 0 auto; padding: 0px; width:970px; clear: both;}
.Neo_footer .nfGnb {margin:0 auto; padding:8px 15px 0 15px; height:32px; background: url(http://image.neonet.co.kr/service/neonet/images/home/nfgnb_bg.gif) repeat-x top; color:#B1C3D4; font-size:12px; font-family:"굴림"; text-decoration:none;}
.Neo_footer .nfGnb a:link, .Neo_footer .nfGnb a:visited, .Neo_footer .nfGnb a:hover {color:#FFFFFF; font-size:12px; font-family:"굴림"; text-decoration:none; font-weight:bold;}
.Neo_footer .nfGnb .small {font-size:11px; font-family:"dotum"; text-decoration:none;}
.Neo_footer .nfGnb .small a:link, .Neo_footer .nfGnb .small a:visited, .Neo_footer .nfGnb .small a:hover {padding:0 1px; color:#FFFFFF; font-size:11px; font-family:"dotum"; text-decoration:none; font-weight:normal;}
.Neo_footer .nfBnr {margin:0; padding:4px 15px 6px 15px; border-bottom: 1px solid #dddddd; text-align: center;}
.Neo_footer .nfBnr img {margin:0 2px; }
.Neo_footer .nfMenu {margin:0 auto; padding:7px 15px 10px 15px; color:#C1C1C1; font-size:12px; font-family:"굴림"; text-decoration:none;}
.Neo_footer .copyright {margin:0 auto 10px auto; padding-left:15px;}




