/* table */
.tbl_xls {width:100%; border:0; border-top:2px solid #888; border-left:2px solid #888; table-layout:fixed;}
.tbl_xls caption {font-weight:600; font-size:12px;}
.tbl_xls th, .tbl_xls td {padding:2px 4px; border:0; border-right:1px solid #888; border-bottom:1px solid #888; font-size:12px; white-space:nowrap;}
.tbl_xls th {padding:2px 0; background:#F6F6F6; text-align:center;}
.tbl_xls th.on {background:#FD6;}
.tbl_xls td.on {padding-bottom:0; border:2px solid #000;}
.tbl_xls th.left {width:40px;}

.tbl_debug {border:0; border-top:1px solid #CCC; border-left:1px solid #CCC;}
.tbl_debug caption {display:none;}
.tbl_debug th, .tbl_debug td {padding:2px 4px; border:0; border-right:1px solid #CCC; border-bottom:1px solid #CCC; font-size:12px;}
.tbl_debug th {padding:2px 0; background:#F6F6F6; text-align:center;}
.tbl_debug th.on {background:#FD6;}

.tbl_list {width:100%; border:0; border-top:2px solid #888; border-left:1px solid #CCC;}
.tbl_list caption {display:none;}
.tbl_list th, .tbl_list td {padding:2px 4px; border:0; border-right:1px solid #CCC; border-bottom:1px solid #CCC; font-size:12px; line-height:1.6; text-align:center;}
.tbl_list th {padding:2px 0; background:#F6F6F6;}

/* layer */
.ly_normal {position:absolute; width:400px; border:2px solid #58C; text-align:left;}
.ly_normal .head {overflow:hidden; width:100%; height:30px; background:#58C; color:#FFF; font-weight:600; line-height:30px; text-indent:8px; white-space:nowrap; cursor:move;}
.ly_normal .head .close {overflow:hidden; position:absolute; top:5px; right:5px; width:20px; height:20px; background:url(../image/ico_close.gif) no-repeat 4px 4px; text-indent:-999px;}
.ly_normal .body {padding:8px; background:#FFF;}
.ly_normal .foot {padding:8px; background:#EEE; text-align:center;}
.ly_normal .shadow {position:relative; top:2px; width:100%; height:2px; margin-bottom:-2px; background:#CCC; font-size:0; line-height:0; opacity:0.5; filter:alpha(opacity=50);}

/* box */
.bx_msg {padding:8px; border:1px solid #CCC; line-height:1.6; text-align:center;}
.bx_notice {padding:8px; border:1px solid #888; background:#FFA; line-height:1.6;}
.bx_normal {padding:8px; border:2px solid #888; background:#FFF; line-height:1.6;}

/* form */
.inp_text, .inp_readonly, .inp_textarea {font-size:12px;}
.inp_text {}
.inp_readonly {}
.inp_textarea {line-height:1.5;}
.inp_select {}
.inp_radio {}
.inp_check {}
.inp_iden {ime-mode:disabled;}

/* font */
.p_dtm {font-family:'µ¸¿ò',Dotum!important;}
.p_glm {font-family:'±¼¸²',Gulim!important;}
.p_btg {font-family:'¹ÙÅÁ',Batang!important;}
.p_eng {font-family:Arial,Tahoma!important;}
.p_white {color:#FFF;}
.p_black {color:#000;}
.p_grey {color:#666;}
.p_lightgrey {color:#999;}
.p_red {color:#F30;}
.p_green {color:#390;}
.p_blue {color:#26B;}
.p_deepblue {color:#059;}
.nowrap {white-space:nowrap;}
.disabled {font-style:italic; color:#888;}
.t11 {font-size:11px!important;}
.t12 {font-size:12px!important;}
.t13 {font-size:13px!important;}
.t14 {font-size:14px!important;}
.t15 {font-size:15px!important;}

/* map */
.map_tour {position:relative; width:650px; height:500px; background:url(../image/map_kangwon.gif) no-repeat 50% 50%;}
.map_tour .flag {position:absolute; background:#FFF;}
.map_tour .flag a {float:left; height:18px; padding:0 4px; font-family:'µ¸¿ò',Dotum; font-size:11px; line-height:18px; white-space:nowrap;}
.map_tour .flag a:hover {text-decoration:none;}

.map_road {position:relative; padding-top:500px; background:#FFF;}
.map_road .map {background:#FFF;}
.map_road a {position:absolute; top:0; left:0; overflow:hidden; width:7px; height:7px; color:#333; background:url(../image/ico_pos.png) no-repeat 0 0; z-index:99;}
.map_road a span {display:none;}
.map_road a:hover {overflow:visible; color:#FFF; text-decoration:none; z-index:9999;}
.map_road a:hover span {display:block; position:absolute; top:-30px; left:0; overflow:hidden; height:20px; padding:0 5px; color:#FFF; background:#125F89; font-size:12px; line-height:20px; white-space:nowrap; z-index:9999;}

/* page navi */
.nav_normal {padding:10px 0; text-align:center;}
.nav_normal a, .nav_normal b {display:inline-block; min-width:18px; width:auto!important; width:28px; height:25px; margin:0 2px; padding:0 5px; border:1px solid #BBB; border-radius:3px; background:#FFF; color:#333; line-height:25px; white-space:nowrap; vertical-align:middle;}
.nav_normal a:hover {background:#EEE; color:#333; text-decoration:none;}
.nav_normal b {border-color:#0AE; background:#0AE; color:#FFF;}
.nav_normal .on {height:auto; margin:0; padding:0; border:0;}
.nav_normal .on:hover {background:none;}

/* holiday */
.ox_calendar_y {overflow:hidden; width:690px; margin:0 5px; padding-top:10px;}
.ox_calendar_y .month {float:left; height:200px; padding:0 17px;}
.ox_calendar_y .h {display:block; margin-bottom:15px; padding:5px 8px; background:#08D; color:#FFF;}
.ox_calendar_y table {border:0; width:196px; table-layout:fixed;}
.ox_calendar_y caption {display:none;}
.ox_calendar_y th, .ox_calendar_y td {padding:0; border:0; font-size:12px; text-align:center;}
.ox_calendar_y td button {width:24px; margin:4px 0 0; padding:0; border:0; background:#FFF; color:#333; font-family:Helvetica,Arial,Sans-serif; font-size:12px; text-align:center;}
.ox_calendar_y td .sun {color:#F22;}
.ox_calendar_y td .sat {color:#07F;}
.ox_calendar_y td .on {background:#F34; color:#FFF;}
