@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* common */
body, th, td, input, textarea, button, select {font-family:'³ª´®°íµñ','Nanum Gothic','¸¼Àº °íµñ','Malgun Gothic','±¼¸²',Gulim,AppleGothic,Sans-serif; font-size:13px;}
body, p, form, h1, h2, h3, h4, h5, h6, img {margin:0; padding:0; border:0;}
body, th, td, h1, h2, h3, h4, h5, h6 {font-size:13px; line-height:1.6;}
textarea {line-height:1.5;}
hr {display:none;}
a {color:#333; text-decoration:none;}
a:hover {color:#369; text-decoration:underline;}
input[type="image"] {border-radius:0;}

.break {margin-top:20px;}
.blind {visibility:hidden; overflow:hidden; position:absolute; width:1px; height:1px;}
.hidden {display:none;}
.p_l {text-align:left !important;}
.p_r {text-align:right !important;}
.p_c {text-align:center !important;}
.p_j {text-align:justify !important;}
.f_l {float:left !important;}
.f_r {float:right !important;}
.b, b, strong, h1, h2, h3, h4, h5, h6 {font-weight:600;} /* 400, 600, 700 */
.i {font-style:italic;}

/* layout */
#wrap {min-width:1000px; background:url(../image/bg_header.gif) repeat-x 0 0; text-align:center;}

#header {position:relative; width:1000px; height:115px; margin:0 auto; text-align:left; z-index:300;}
#header img {vertical-align:middle;}
#header h1 {position:absolute; top:16px; left:15px;}
#header .skip {overflow:hidden; position:absolute; top:-999px; left:-999px; width:1px; height:1px;}
#header .skip:active, #header .skip:focus {top:10px; left:10px; width:auto; height:auto; padding:10px 20px; background:#FFB; text-decoration:none; white-space:nowrap;}

#header .srch {position:absolute; top:20px; left:338px;}
#header .srch fieldset {margin:0; padding:0; border:0;}
#header .srch legend {display:none;}
#header .srch .box {float:left;}
#header .srch .kwd {float:left; margin-right:5px; padding:4px; border:1px solid #888;}
#header .srch .kwd label {display:none;}
#header .srch .kwd input {float:left; width:250px; height:25px; margin:0; padding:0; border:0; background:#FFF; -webkit-appearance:none;}
#header .srch .ok {float:left; width:60px; height:35px; margin:0; padding:0; border:1px solid #41AF39; border-radius:2px; background:#41AF39; font-weight:600; font-size:15px; color:#FFF; line-height:34px; text-align:center; -webkit-appearance:none;}

#snb {position:absolute; top:5px; right:20px; margin:0; padding:0; list-style:none;}
#snb li {float:left; margin:0; padding:0; font-size:12px;}
#snb .sl {display:inline-block; padding:0 5px 0 9px; color:#CCC; vertical-align:middle;}

#gnb {position:absolute; top:73px; left:103px; width:980px; height:40px; margin:0; padding:0; list-style:none;}
#gnb li {float:left; width:165px; margin:0; padding:6px 0; text-align:center;}
#gnb a {display:inline-block; overflow:hidden; height:32px; padding:0 10px; font-weight:600; font-size:16px; color:#FFF; line-height:28px; vertical-align:middle;}
#gnb a:hover {border-radius:5px; background:#FFF; color:#333; text-decoration:none;}

#article {z-index:200;}

#footer {background:#EDEDED; z-index:100;}
#footer .copyright {width:1000px; height:120px; margin:0 auto; font-size:12px; text-align:left;}
#footer .logo {float:left; padding:30px 50px 0 30px;}
#footer address {float:left; width:550px; padding:9px 0 5px; font-style:normal;}
#footer p {float:left; width:550px;}
#footer p em {font-style:normal; color:#06F;}
#footer .go {float:right; margin:-42px 0 0; padding:0; list-style:none;}
#footer .go li {margin:0; padding:2px 0;}
#footer .go a {display:inline-block; width:120px; height:23px; border-radius:3px; background:#D6D6D6; font-weight:600; color:#333; text-align:center; line-height:23px; vertical-align:middle;}
#footer .go a:hover {color:#333; text-decoration:none;}
#footer img {vertical-align:middle;}

.tbl_type {
  border: 1px solid #ddd;
  width: 760px;
  margin-bottom: 10px;
}

.tbl_type TH {
  font-weight: bold;
  text-align: center;
  background: #d5e8fb;
  padding: 4px 0;
}

.tbl_type TD {
  font-weight: norma;
  l;
  text-align: center;
  background: #f0f0f0
}

.tbl_type CAPTION {
  display: none
}

.lst_common {
  list-style: none;
  text-indent: 0;
  margin: 0;
  padding: 10px
}

.lst_common li {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 20px;
}