@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* common */
hr {display:none;}
a {color:#333; text-decoration:none;}
a:hover {color:#369;}


/***/

html, body, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ol, ul, li, blockquote, pre, button, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, iframe, article, aside, canvas, details, embed, figure, figcaption, header, footer, menu, nav, section, summary, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font-family: inherit;
  vertical-align: baseline;
}




html, article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary, div {
  display: block;
}

html{
  width:100%;
  height:100%;
}

body {
  width:100%;
  height:100%;
  position: relative;
  font-size: 15px;
  line-height: 1.5em;
  color: #555555;
  font-family: 'NanumS','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;
  font-weight: 400;
  letter-spacing: 0;
}






/* path */

.path {
  position: relative;
  background-color: #eff3f6;
  border-bottom: #d9dee2 solid 1px;
  z-index: 11;
  
}


.path .path_list {
  padding: 12px 0;
  line-height: 24px;
  text-align: right;
}

ul, li {
  list-style: none;
}

.path .path_list ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.path .path_list li.home {
  display: inline;
}

.path .path_list li.home .list01 {
  display: inline-block;
  line-height: 24px;
  width: 19px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/btn_home.gif);
  vertical-align: top;
  font-size: 0;
}

.path .path_list li.list {
  display: inline;
  margin-left: 12px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url(./images/path_li.png);
  padding-left: 14px;
}






.wrap {
  padding-top:50px;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
}

.clearfix {
  display: block;
}


/* container */

#container {
  width:100%;
  min-height: 100%;
  position:relative;
  z-index:10;
  padding-top: 30px;
  margin: 0 0 0px 0;
}


#container .side {
  float:left; 
  width:240px;
}


#container .side .side_title .innerbox {
  vertical-align: middle;
}

#container .side .side_title .innerbox p.title {
  line-height: 34px;
  font-size: 27px;
}


.side p.title {
  background-image: url("./images/bu_h_side2.gif");
  padding-left: 50px;
  text-align: left;
  background-repeat: no-repeat;
}


#container .side ul li.side_depth1 {
  margin-bottom: 5px;
}




/* layout */

#wrap{z-index:20;clear:both;width:100%; background:url(./images/bg_header.gif) repeat-x 0 0; text-align:center;}



#header {position:relative; width:1000px; height:115px; margin:0 auto; text-align:left; z-index:300;}
#header img {vertical-align:middle;}
#header h1 {position:absolute; top:16px; left:15px;}

#header .srch {position:absolute; top:20px; left:338px;}
#header .srch fieldset {margin:0; padding:0; border:0;}
#header .srch legend {display:none;}
#header .srch .box {float:left;}
#header .srch .kwd {float:left; margin-right:5px; padding:4px; border:1px solid #888;}
#header .srch .kwd label {display:none;}
#header .srch .kwd input {float:left; width:250px; height:25px; margin:0; padding:0; border:0; background:#FFF; -webkit-appearance:none;}
#header .srch .ok {float:left; width:60px; height:35px; margin:0; padding:0; border:1px solid #41AF39; border-radius:2px; background:#41AF39; font-weight:600; font-size:15px; color:#FFF; line-height:34px; text-align:center; -webkit-appearance:none;}

#snb {position:absolute; top:5px; right:20px; margin:0; padding:0; list-style:none;}
#snb li {float:left; margin:0; padding:0; font-size:12px;}
#snb .sl {display:inline-block; padding:0 5px 0 9px; color:#CCC; vertical-align:middle;}

#gnb {position:absolute; top:73px; left:103px; width:980px; height:40px; margin:0; padding:0; list-style:none;}
#gnb li {float:left; width:165px; margin:0; padding:6px 0; text-align:center;}
#gnb a {display:inline-block; overflow:hidden; height:32px; padding:0 10px; font-weight:600; font-size:16px; color:#FFF; line-height:28px; vertical-align:middle;}
#gnb a:hover {border-radius:5px; background:#FFF; color:#333; text-decoration:none;}

#article {z-index:200;}

.footer_con {height: 130px;background:#EDEDED; z-index:100;}
.footer_con .copyright {width:1000px; height:120px; margin:0 auto; font-size:12px; text-align:left;}
.footer_con .footer_logo {float:left; padding:30px 50px 0 30px;}
.footer_con address {float:left; width:550px; padding:9px 0 5px; font-style:normal;}
.footer_con p {float:left; width:550px;}
.footer_con p em {font-style:normal; color:#06F;}
.footer_con .go {float:right; margin:-42px 0 0; padding:0; list-style:none;}
.footer_con .go li {margin:0; padding:0 1em 2px;}
.footer_con .go a {display:inline-block; width:120px; height:2.308em; line-height: 2.308; border-radius:3px; background:#D6D6D6; font-weight:600; color:#333; text-align:center;}
.footer_con .go a:hover {color:#333; text-decoration:none;}
.footer_con img {vertical-align:middle;}

.contents h3 {
  width: auto;
  height: auto;
  margin: 30px 0 20px;
  padding: 0 0 0 28px;
  background: url(./images/h3bg.png) no-repeat left 5px;
  line-height: 1.4em;
  color: #000;
  font-weight: 600;
}
/* 
.table_t1 {
  border: 1px solid #999;
  width: 760px;
  margin-bottom: 10px;
} */

.table_t1 {
  border-collapse:collapse;
  border-spacing: 0;
  width: 100%; 
  margin:0 0 .5em 0; 
  border-top:#4a4a4a solid 3px;
}
/* 
.table_t1 thead, .table_t1 tfoot {
  font-weight: normal;
  color:#000; 
} */

.table_t1 th {
  border: 1px solid #babcbe;
  padding:16px 10px; 
  background-color:transparent;
  font-weight: 600;
  text-align: center;
  background-color:#fbfbfb;
  color:#333333;
  
}

.table_t1 td {
  /* border: 1px solid #999; */
  font-weight: normal;
  text-align: center;
  border: 1px solid #babcbe; 
  padding:16px 10px; 
  /* background-color:transparent; */
  background-color:#fff;
}

/* .table_t1 tr:first-child th, .table_t1 tr:first-child td{border-top:none;} */
.table_t1 th:first-child,.table_t1 td:first-child{border-left:none;}
.table_t1 th:last-child, .table_t1 td:last-child{border-right:none;}


caption {position:absolute;width:1px;height:1px;margin:0;padding:0;background:none; font-size:3px; color:transparent; line-height: 0;}

/* 
.table_t1 caption {
  display: none
} */

.lst_common {
  list-style: none;
  text-indent: 0;
  margin: 0;
  padding: 10px
}

.lst_common li {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 20px;
}